<html>

<head>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"
        integrity="sha512-rCVQBDU9Ny0aKLo1/B1MqgRjWEMlCL3WJ0DD6mJeK6qMZqpN9JCRxPtMQWWR9XWCMFIqlSgT4uOdwpvxWTSejw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="./service/pagination.js"></script>
    <script src="./service/pagination.min.js"></script>

    <script src="./public/index.js"></script>


    <!-- css  -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
        integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./public/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>

<body>
    <!-- header -->
    <div class="col-lg-12 col-sm-12 col-xs-12 text-center div-layout-header">
        GeekTrust - User Admin UI
    </div>

    <!-- main body -->
    <div ng-app="MyApp" ng-controller="MyController">
        <div class="container body-content">
            <div class="container row mt100">

                <!-- search bar -->
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 search-margin-bottom input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control textinputupdatedisplay z-index-zero"
                        placeholder="Search by name, email or role" ng-change="searchUser()" ng-model="search">
                </div>
                <!-- search bar end -->

                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                        <p>Total users:- {{userCount}} </p>
                    </div>
                    <!-- <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4">
                        <span> Show Elements:-</span>
                        <select ng-model="itemsPerPage" ng-change="showSelectValue(itemsPerPage)"
                            ng-options="num for num in [10]">
                        </select>
                    </div> -->
                </div>
                <!-- main data div -->
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 " id="div-get-user-body-table-id">
                    <!--table-->
                    <table class="table table-bordered table-users-data-class" cellpadding="4" cellspacing="0">
                        <tr>
                            <th><input type="checkbox" ng-click="selectCurrentPageValues(allCheck)" ng-model="allCheck" ng-checked="allCheck"></th>
                            <th>Id </th>
                            <th>Name </th>
                            <th>Email </th>
                            <th>Role </th>
                            <th>Action</th>
                        </tr>

                        <tr>
                            <td ng-if="users.length === 0" colspan="6">No Users</td>
                        </tr>
                        <tr ng-repeat="x in users |  filter : paginate " ng-class="{greybg: x.isSelected, whitebg: !x.isSelected}">
                            <td>
                                <input type="checkbox" ng-click="selectUser(x)" ng-checked="x.isSelected" ng-disabled="x.isEdit" ng-model="x.isSelected">
                            </td>
                            <td>
                                <p>{{x.id}}
                                </p>
                            </td>
                            <td>
                                <p ng-if="!x.isEdit">{{x.name}}
                                </p>
                                <input type="text" class="form-control" placeholder="Name" ng-model="x.name"
                                    ng-if="x.isEdit">
                            </td>

                            <td>
                                <p ng-if="!x.isEdit">{{x.email}}</p>
                                <input type="text" class="form-control" placeholder="Email" ng-model="x.email"
                                    ng-if="x.isEdit">
                            </td>
                            <td>
                                <p ng-if="!x.isEdit">{{x.role}}</p>
                                <input type="text" class="form-control" placeholder="Role" ng-model="x.role"
                                    ng-if="x.isEdit">
                            </td>
                            <td>
                                <!-- edit button -->
                                <button ng-if="!x.isEdit" type="button" class="btn btn-primary btn-sm"
                                    ng-click="x.isEdit =true"><i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                 <!-- delete button -->
                                <button ng-if="!x.isEdit" type="button" class="btn btn-danger btn-sm"
                                    ng-click="deleteUser(x)"><i class="fas fa-trash-alt"></i>
                                </button>
                                <!-- edit mode save button -->
                                <button ng-if="x.isEdit" type="button" class="btn btn-success btn-sm"
                                    ng-click="updateUser(x);x.isEdit =false"><i class="fas fa-save"></i>
                                </button>
                                <!-- edit mode cancel button -->
                                <button ng-if="x.isEdit" type="button" class="btn btn-danger btn-sm"
                                    ng-click="x.isEdit =false"><i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <!-- table  end -->

                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2">
                            <button type="button" class="btn btn-danger btn-sm"
                                    ng-click="deleteMultipleUser()">Delete Selected
                                </button>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-10 col-md-10 text-center">
                            <pagination total-items="userCount" ng-model="currentPage" max-size="3"
                                boundary-links="true" direction-links="true" items-per-page="itemsPerPage"
                                class="pagination-sm ">
                            </pagination>

                            <!-- <div data-pagination="" data-num-pages="numOfPages()" data-current-page="currentPage"
                                data-max-size="maxSize" data-boundary-links="true">
                            </div> -->

                        </div>
                    </div>
                    <!-- pagination div start -->
                    <div class="text-right">

                    </div>
                    <!-- pagination div end -->
                </div>
                <!-- main data div end-->

            </div>
        </div>

    </div>

    <!-- footer -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center div-layout-footer">
        Designed by
        <strong style="color: aliceblue;">Karanvirr Kumar</strong>
    </div>
</body>

</html>